## Задача 1

### Задача 1.1

Скачать данные по ссылке https://www.kaggle.com/datasets/astronautelvis/kc-house-data
Считать данные с помощью pandas
Вывести на экран первые 5 строк

In [45]:
import pandas as pd

df = pd.read_csv('kc_final.csv')
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Задача 1.2

Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0

In [46]:
df['delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.loc[df['yr_renovated'] == 0, 'delta_renovated'] = 0
df.head(50)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0
5,5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,0
6,6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,0
7,7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,0
8,8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,0
9,9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,0
10,10,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,1.0,0,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,0
11,11,9212900260,2014-05-27,468000.0,2,1.00,1160,6000,1.0,0,...,860,300,1942,0,98115,47.6900,-122.292,1330,6000,0
12,12,114101516,2014-05-28,310000.0,3,1.00,1430,19901,1.5,0,...,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,0
13,13,6054650070,2014-10-07,400000.0,3,1.75,1370,9680,1.0,0,...,1370,0,1977,0,98074,47.6127,-122.045,1370,10208,0
14,14,1175000570,2015-03-12,530000.0,5,2.00,1810,4850,1.5,0,...,1810,0,1900,0,98107,47.6700,-122.394,1360,4850,0
15,15,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0,...,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,0
16,16,1875500060,2014-07-31,395000.0,3,2.00,1890,14040,2.0,0,...,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,0
17,17,6865200140,2014-05-29,485000.0,4,1.00,1600,4300,1.5,0,...,1600,0,1916,0,98103,47.6648,-122.343,1610,4300,0
18,18,16000397,2014-12-05,189000.0,2,1.00,1200,9850,1.0,0,...,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,0
19,19,7983200060,2015-04-24,230000.0,3,1.00,1250,9774,1.0,0,...,1250,0,1969,0,98003,47.3343,-122.306,1280,8850,0
20,20,6300500875,2014-05-14,385000.0,4,1.75,1620,4980,1.0,0,...,860,760,1947,0,98133,47.7025,-122.341,1400,4980,0
21,21,2524049179,2014-08-26,2000000.0,3,2.75,3050,44867,1.0,0,...,2330,720,1968,0,98040,47.5316,-122.233,4110,20336,0
22,22,7137970340,2014-07-03,285000.0,5,2.50,2270,6300,2.0,0,...,2270,0,1995,0,98092,47.3266,-122.169,2240,7005,0
23,23,8091400200,2014-05-16,252700.0,2,1.50,1070,9643,1.0,0,...,1070,0,1985,0,98030,47.3533,-122.166,1220,8386,0
24,24,3814700200,2014-11-20,329000.0,3,2.25,2450,6500,2.0,0,...,2450,0,1985,0,98030,47.3739,-122.172,2200,6865,0
25,25,1202000200,2014-11-03,233000.0,3,2.00,1710,4697,1.5,0,...,1710,0,1941,0,98002,47.3048,-122.218,1030,4705,0
26,26,1794500383,2014-06-26,937000.0,3,1.75,2450,2691,2.0,0,...,1750,700,1915,0,98119,47.6386,-122.360,1760,3573,0
27,27,3303700376,2014-12-01,667000.0,3,1.00,1400,1581,1.5,0,...,1400,0,1909,0,98112,47.6221,-122.314,1860,3861,0
28,28,5101402488,2014-06-24,438000.0,3,1.75,1520,6380,1.0,0,...,790,730,1948,0,98115,47.6950,-122.304,1520,6235,0
29,29,1873100390,2015-03-02,719000.0,4,2.50,2570,7173,2.0,0,...,2570,0,2005,0,98052,47.7073,-122.110,2630,6026,0
30,30,8562750320,2014-11-10,580500.0,3,2.50,2320,3980,2.0,0,...,2320,0,2003,0,98027,47.5391,-122.070,2580,3980,0
31,31,2426039314,2014-12-01,280000.0,2,1.50,1190,1265,3.0,0,...,1190,0,2005,0,98133,47.7274,-122.357,1390,1756,0
32,32,461000390,2014-06-24,687500.0,4,1.75,2330,5000,1.5,0,...,1510,820,1929,0,98117,47.6823,-122.368,1460,5000,0
33,33,7589200193,2014-11-10,535000.0,3,1.00,1090,3000,1.5,0,...,1090,0,1929,0,98117,47.6889,-122.375,1570,5080,0
34,34,7955080270,2014-12-03,322500.0,4,2.75,2060,6659,1.0,0,...,1280,780,1981,0,98058,47.4276,-122.157,2020,8720,0
35,35,9547205180,2014-06-13,696000.0,3,2.50,2300,3060,1.5,0,...,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264,72
36,36,9435300030,2014-05-28,550000.0,4,1.00,1660,34848,1.0,0,...,930,730,1933,0,98052,47.6621,-122.132,2160,11467,0
37,37,2768000400,2014-12-30,640000.0,4,2.00,2360,6000,2.0,0,...,2360,0,1904,0,98107,47.6702,-122.362,1730,4700,0
38,38,7895500070,2015-02-13,240000.0,4,1.00,1220,8075,1.0,0,...,890,330,1969,0,98001,47.3341,-122.282,1290,7800,0
39,39,2078500320,2014-06-20,605000.0,4,2.50,2620,7553,2.0,0,...,2620,0,1996,0,98056,47.5301,-122.180,2620,11884,0
40,40,5547700270,2014-07-15,625000.0,4,2.50,2570,5520,2.0,0,...,2570,0,2000,0,98074,47.6145,-122.027,2470,5669,0
41,41,7766200013,2014-08-11,775000.0,4,2.25,4220,24186,1.0,0,...,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617,0
42,42,7203220400,2014-07-07,861990.0,5,2.75,3595,5639,2.0,0,...,3595,0,2014,0,98053,47.6848,-122.016,3625,5639,0
43,43,9270200160,2014-10-28,685000.0,3,1.00,1570,2280,2.0,0,...,1570,0,1922,0,98119,47.6413,-122.364,1580,2640,0
44,44,1432701230,2014-07-29,309000.0,3,1.00,1280,9656,1.0,0,...,920,360,1959,0,98058,47.4485,-122.175,1340,8808,0
45,45,8035350320,2014-07-18,488000.0,3,2.50,3160,13603,2.0,0,...,3160,0,2003,0,98019,47.7443,-121.977,3050,9232,0
46,46,8945200830,2015-03-25,210490.0,3,1.00,990,8528,1.0,0,...,990,0,1966,0,98023,47.3066,-122.371,1228,8840,0
47,47,4178300310,2014-07-16,785000.0,4,2.50,2290,13416,2.0,0,...,2290,0,1981,0,98007,47.6194,-122.151,2680,13685,0
48,48,9215400105,2015-04-28,450000.0,3,1.75,1250,5963,1.0,0,...,1250,0,1953,0,98115,47.6796,-122.301,970,5100,0
49,49,822039084,2015-03-11,1350000.0,3,2.50,2753,65005,1.0,1,...,2165,588,1953,0,98070,47.4041,-122.451,2680,72513,0

### Задача 1.3

Создайте признаки года продажи, месяца продажи

In [47]:
df['year_of_sale'] = df['date'].apply(lambda x: x.split('-')[0])
df['month_of_sale'] = df['date'].apply(lambda x: x.split('-')[1])
df.head(20)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,2014,10
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014,12
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,2015,02
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,2014,12
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,2015,02
5,5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,...,2001,0,98053,47.6561,-122.005,4760,101930,0,2014,05
6,6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,...,1995,0,98003,47.3097,-122.327,2238,6819,0,2014,06
7,7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,...,1963,0,98198,47.4095,-122.315,1650,9711,0,2015,01
8,8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,...,1960,0,98146,47.5123,-122.337,1780,8113,0,2015,04
9,9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,...,2003,0,98038,47.3684,-122.031,2390,7570,0,2015,03
10,10,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,1.0,0,...,1965,0,98007,47.6007,-122.145,2210,8925,0,2015,04
11,11,9212900260,2014-05-27,468000.0,2,1.00,1160,6000,1.0,0,...,1942,0,98115,47.6900,-122.292,1330,6000,0,2014,05
12,12,114101516,2014-05-28,310000.0,3,1.00,1430,19901,1.5,0,...,1927,0,98028,47.7558,-122.229,1780,12697,0,2014,05
13,13,6054650070,2014-10-07,400000.0,3,1.75,1370,9680,1.0,0,...,1977,0,98074,47.6127,-122.045,1370,10208,0,2014,10
14,14,1175000570,2015-03-12,530000.0,5,2.00,1810,4850,1.5,0,...,1900,0,98107,47.6700,-122.394,1360,4850,0,2015,03
15,15,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0,...,1979,0,98126,47.5714,-122.375,2140,4000,0,2015,01
16,16,1875500060,2014-07-31,395000.0,3,2.00,1890,14040,2.0,0,...,1994,0,98019,47.7277,-121.962,1890,14018,0,2014,07
17,17,6865200140,2014-05-29,485000.0,4,1.00,1600,4300,1.5,0,...,1916,0,98103,47.6648,-122.343,1610,4300,0,2014,05
18,18,16000397,2014-12-05,189000.0,2,1.00,1200,9850,1.0,0,...,1921,0,98002,47.3089,-122.210,1060,5095,0,2014,12
19,19,7983200060,2015-04-24,230000.0,3,1.00,1250,9774,1.0,0,...,1969,0,98003,47.3343,-122.306,1280,8850,0,2015,04

### Задача 1.4

Удалите признаки date, zipcode, lat, long

In [48]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df.head()

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
0,0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,1340,5650,0,2014,10
1,1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,1690,7639,40,2014,12
2,2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,2720,8062,0,2015,02
3,3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,1360,5000,0,2014,12
4,4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,1800,7503,0,2015,02

## Задача 2

Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [49]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196] 
})
clients

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196

### Задача 2.1

Присоедините к таблице clients данные по домам через метод join

In [50]:
clients_h_id = clients.set_index('house_id')
clients_h_id

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535
1189000207       2308
6821600300       2866
7137950720       2765
9510920050       1472
6131600255       4236
5428000070       2295
1788800910        939
8100400160       3840
3123049142        280
6306800010         20
5083000375       4332
7920100025       3475
1951600150       4213
809001400        3113
339600110        4809
1622049154       2134
1099600250       2242
8563000110       2068
2768100205       4929
3995700435       1384
8861700030       1589
3303980210       3317
7731100066       2260
8146100580       1727
825069097        1764
3889100029       1611
9524100196       1474

In [51]:
df_id = df.set_index('id')
df_id

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
id,,,,,,,,,,,,,,,,,,,,
7129300520,0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,2014,10
6414100192,1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
5631500400,2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,2015,02
2487200875,3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,2014,12
1954400510,4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,2015,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,21608,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509,0,2014,05
6600060120,21609,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200,0,2015,02
1523300141,21610,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007,0,2014,06
291310100,21611,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287,0,2015,01
1523300157,21612,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357,0,2014,10

In [27]:
joined = clients_h_id.join(df_id)
joined

,client_id,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
339600110,4809,3351,395000.0,3,2.50,1610,3755,2.0,0,0,...,7,1610,0,1987,0,1300,3823,0,2014,09
809001400,3113,9369,925000.0,3,1.00,1630,3200,1.5,0,0,...,8,1630,0,1912,0,1710,3600,0,2014,09
825069097,1764,3029,770000.0,3,2.50,2650,40705,2.0,0,0,...,9,2650,0,1994,0,2550,42625,0,2014,06
1099600250,2242,6585,260000.0,3,1.75,1710,6400,1.0,0,0,...,7,1240,470,1976,0,1600,6400,0,2014,12
1189000207,2308,7861,387000.0,2,2.50,1170,1394,2.0,0,0,...,8,1170,0,2001,0,1250,3136,0,2014,10
1522700060,4535,10395,518000.0,4,2.75,2520,14021,2.0,0,0,...,9,2520,0,1999,0,2330,14007,0,2014,06
1622049154,2134,8879,289900.0,3,1.75,1899,11325,2.0,0,0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
1788800910,939,12610,190000.0,3,1.00,1200,10458,1.0,0,0,...,6,1200,0,1961,0,1160,9000,0,2014,10
1951600150,4213,12993,180000.0,3,1.00,1610,8500,1.5,0,0,...,7,1610,0,1959,0,1070,8750,0,2015,04
2131701075,3942,13185,420000.0,3,1.75,1720,5000,1.5,0,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
2768100205,4929,19379,519000.0,4,2.50,1950,2617,1.5,0,0,...,7,1250,700,1910,0,1520,1438,0,2014,06
3123049142,280,6951,452000.0,3,2.25,2600,14810,1.0,0,2,...,8,1490,1110,1956,0,2450,16715,0,2014,08
3303980210,3317,18731,1115000.0,4,3.75,4040,14212,2.0,0,0,...,11,4040,0,2002,0,3940,14212,0,2015,04
3889100029,1611,6880,810000.0,3,2.50,2670,10481,2.0,0,0,...,9,2670,0,2003,0,2620,8895,0,2014,06
3995700435,1384,11107,265000.0,4,3.00,1940,8170,1.0,0,0,...,7,1940,0,1948,0,1310,8169,0,2014,07
5083000375,4332,3033,170000.0,3,1.00,1310,9529,1.0,0,0,...,7,1310,0,1956,0,1330,9529,0,2014,10
5083000375,4332,3034,235000.0,3,1.00,1310,9529,1.0,0,0,...,7,1310,0,1956,0,1330,9529,0,2015,03
5104540330,3498,7560,679000.0,4,2.50,3680,7236,2.0,0,0,...,10,3680,0,2006,0,3310,7180,0,2015,05
5428000070,2295,20765,770000.0,5,3.50,4750,8234,2.0,0,2,...,10,3350,1400,2013,0,2160,14496,0,2015,05
6131600255,4236,16228,202500.0,3,2.00,1540,8316,1.0,0,0,...,6,1540,0,1954,0,1250,8316,0,2014,12
6306800010,20,20288,436472.0,4,2.50,2692,8392,2.0,0,0,...,9,2692,0,2014,0,2574,14446,0,2014,08
6821600300,2866,4660,886000.0,3,2.25,2380,6000,2.0,0,0,...,9,1650,730,1931,0,2000,6000,0,2015,03
6823100225,4684,15505,700000.0,4,1.75,1870,6000,1.0,0,0,...,8,1670,200,1949,0,1710,6000,0,2015,04
7137950720,2765,13827,339100.0,4,2.50,2350,10655,2.0,0,0,...,8,2350,0,1992,0,2210,7028,0,2015,03
7731100066,2260,7447,545000.0,3,1.00,1510,5000,1.5,0,0,...,7,1510,0,1909,0,1680,4000,0,2014,06
7920100025,3475,2865,450000.0,2,1.00,740,5100,1.0,0,0,...,7,740,0,1947,0,920,5100,0,2015,04
8100400160,3840,1362,700000.0,3,2.25,2330,11424,2.0,0,0,...,8,2330,0,1984,0,2050,11448,0,2015,04
8146100580,1727,13635,765000.0,3,1.00,1220,7585,1.0,0,0,...,7,1220,0,1954,0,1380,8918,0,2014,10
8563000110,2068,17746,427000.0,4,1.75,1460,9750,1.0,0,0,...,7,1460,0,1967,0,1820,9840,0,2015,04
8861700030,1589,10112,510000.0,3,1.50,2400,10275,1.0,0,0,...,8,1540,860,1964,0,2380,10125,0,2014,12
8965450190,1459,7314,295000.0,3,2.50,1500,3060,2.0,0,0,...,7,1500,0,1994,0,2700,7734,0,2015,02
9510920050,1472,16528,725000.0,3,2.50,2980,16996,2.0,0,0,...,10,2980,0,1992,0,2980,15438,0,2014,09
9524100196,1474,20781,239000.0,2,1.50,680,772,2.0,0,0,...,7,680,0,2005,0,690,1059,0,2014,11

### Задача 2.2

Присоедините к таблице clients данные по домам через метод merge.
Это нужно, чтобы понимать, какие дома покупались клиентами.
house_id - это индексы датафрейма с домами

In [55]:
merged = clients.merge(df, left_on='house_id', right_on='id')
merged.drop('house_id', axis= 1, inplace=True)
merged

,client_id,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
0,1459,7314,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500,0,1994,0,2700,7734,0,2015,02
1,4684,15505,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670,200,1949,0,1710,6000,0,2015,04
2,3498,7560,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680,0,2006,0,3310,7180,0,2015,05
3,3942,13185,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,10395,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520,0,1999,0,2330,14007,0,2014,06
5,2308,7861,1189000207,387000.0,2,2.50,1170,1394,2.0,0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,4660,6821600300,886000.0,3,2.25,2380,6000,2.0,0,...,9,1650,730,1931,0,2000,6000,0,2015,03
7,2765,13827,7137950720,339100.0,4,2.50,2350,10655,2.0,0,...,8,2350,0,1992,0,2210,7028,0,2015,03
8,1472,16528,9510920050,725000.0,3,2.50,2980,16996,2.0,0,...,10,2980,0,1992,0,2980,15438,0,2014,09
9,4236,16228,6131600255,202500.0,3,2.00,1540,8316,1.0,0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,20765,5428000070,770000.0,5,3.50,4750,8234,2.0,0,...,10,3350,1400,2013,0,2160,14496,0,2015,05
11,939,12610,1788800910,190000.0,3,1.00,1200,10458,1.0,0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,1362,8100400160,700000.0,3,2.25,2330,11424,2.0,0,...,8,2330,0,1984,0,2050,11448,0,2015,04
13,280,6951,3123049142,452000.0,3,2.25,2600,14810,1.0,0,...,8,1490,1110,1956,0,2450,16715,0,2014,08
14,20,20288,6306800010,436472.0,4,2.50,2692,8392,2.0,0,...,9,2692,0,2014,0,2574,14446,0,2014,08
15,4332,3033,5083000375,170000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,4332,3034,5083000375,235000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,2015,03
17,3475,2865,7920100025,450000.0,2,1.00,740,5100,1.0,0,...,7,740,0,1947,0,920,5100,0,2015,04
18,4213,12993,1951600150,180000.0,3,1.00,1610,8500,1.5,0,...,7,1610,0,1959,0,1070,8750,0,2015,04
19,3113,9369,809001400,925000.0,3,1.00,1630,3200,1.5,0,...,8,1630,0,1912,0,1710,3600,0,2014,09
20,4809,3351,339600110,395000.0,3,2.50,1610,3755,2.0,0,...,7,1610,0,1987,0,1300,3823,0,2014,09
21,2134,8879,1622049154,289900.0,3,1.75,1899,11325,2.0,0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,2242,6585,1099600250,260000.0,3,1.75,1710,6400,1.0,0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,2068,17746,8563000110,427000.0,4,1.75,1460,9750,1.0,0,...,7,1460,0,1967,0,1820,9840,0,2015,04
24,4929,19379,2768100205,519000.0,4,2.50,1950,2617,1.5,0,...,7,1250,700,1910,0,1520,1438,0,2014,06
25,1384,11107,3995700435,265000.0,4,3.00,1940,8170,1.0,0,...,7,1940,0,1948,0,1310,8169,0,2014,07
26,1589,10112,8861700030,510000.0,3,1.50,2400,10275,1.0,0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3317,18731,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,...,11,4040,0,2002,0,3940,14212,0,2015,04
28,2260,7447,7731100066,545000.0,3,1.00,1510,5000,1.5,0,...,7,1510,0,1909,0,1680,4000,0,2014,06
29,1727,13635,8146100580,765000.0,3,1.00,1220,7585,1.0,0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,1764,3029,825069097,770000.0,3,2.50,2650,40705,2.0,0,...,9,2650,0,1994,0,2550,42625,0,2014,06
31,1611,6880,3889100029,810000.0,3,2.50,2670,10481,2.0,0,...,9,2670,0,2003,0,2620,8895,0,2014,06
32,1474,20781,9524100196,239000.0,2,1.50,680,772,2.0,0,...,7,680,0,2005,0,690,1059,0,2014,11

## Задача 3

Составьте несколько сводных таблиц

### Задача 3.1

Найдите среднюю стоимость домов в зависимости от количества спален.
Отсортируйте от меньшей стоимости к большей

In [95]:
df.groupby(['bedrooms']).agg({"price": 'mean'}).round(2).sort_values('price')

               price
bedrooms
1          317642.88
2          401372.68
0          409503.85
3          466232.08
11         520000.00
4          635419.50
33         640000.00
5          786599.83
10         819333.33
6          825520.64
9          893999.83
7          951184.66
8         1105076.92

### Задача 3.2

Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [68]:
df.groupby("condition").agg({'price': ['min', 'mean', 'max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

### Задача 3.3

Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [69]:
df.pivot_table(index='waterfront', columns='view', values='grade', aggfunc='count', fill_value=0)

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

### Задача 3.4

Каких домов в зависимости от этажности и количества спален больше?

In [71]:
pd.crosstab(index=df['floors'], columns=df['bedrooms'])

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

### Задача 3.5

Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [72]:
df.groupby(['condition', 'grade']).agg({"price": "median"}).unstack("grade").fillna(0)

              price                                                    \
grade            1         3         4         5         6         7
condition
1          142000.0       0.0  150000.0  190000.0  255000.0  403500.0
2               0.0  280000.0  145000.0  180000.0  235000.0  305000.0
3               0.0   75000.0  205000.0  234475.0  265000.0  357500.0
4               0.0       0.0  238525.0  229975.0  295000.0  390000.0
5               0.0  262000.0       0.0  227450.0  285475.0  456000.0


grade            8          9          10         11         12         13
condition
1          932500.0        0.0        0.0        0.0        0.0        0.0
2          429000.0   715000.0  1752500.0        0.0        0.0        0.0
3          485000.0   689000.0   890000.0  1209500.0  1807500.0  2888000.0
4          571250.0   823500.0  1030000.0  1685000.0  2125000.0  5750000.0
5          696000.0  1078000.0  1650000.0  2050000.0  1990000.0        0.0